.browse_nav {
	margin-top: 10px;
    border: 1px solid black;
    height: 50px;    
    width: 100%;
    padding: 7px;
}

.browse_btn {
	padding: 5px;
    width: 80px;
	height: 34px;
	float: right;
}

.browse_btn:hover{
	background-color: #6f707d;
	color:white;
	border:1px solid black;
}

.browse_btn_left {
	float: left;
}
