<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="mod-marbour" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>

                    </conditions>                    
					<action type="Rewrite" url="index.prg/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>